.wy-nav-content a:visited {
	color: #2980B9 !important;
}
img {
	border: 1px solid;
	border-radius: 4px;
	border-color: #CCC;
	padding: 2px;
	margin-bottom: 2px;
}
/* div scrollbars */
nav::-webkit-scrollbar{ 
	background-color: rgba(0, 0, 0, 0);
	width:6px; 
}		
nav::-webkit-scrollbar-track {
	background-color: rgba(0, 0, 0, 0);
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
nav::-webkit-scrollbar-thumb{ 
	background-color:#141414;
	border: 1px solid rgba(0, 0, 0, 0);
}	
.injected, .wy-breadcrumbs-aside {
	display:none !important;
}
/*
footer {
	display: none;
}
*/
hr {
	opacity: 0;
}
